<a href="https://colab.research.google.com/github/gyana-ranjan-dash/World_proverty_analysis/blob/main/World_poverty_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 2.9MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 232kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/11/1d/1c54c672c2faf08d28fe78e15d664c048f786225bef95ad87b6c435cf69e/pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6MB)
     |████████████████████████████████| 6.6MB 40.2MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Installing collected packages: cligj, click-plugins, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [2]:
pip install geoplot

Collecting geoplot
  Downloading https://files.pythonhosted.org/packages/e1/8f/46133752e1f02e70501939e739b81cbc85c79d7398c963b8a25a3178bffe/geoplot-0.4.1-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from geoplot) (1.1.5)
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (from geoplot) (1.1.0)
Collecting cartopy
  Downloading https://files.pythonhosted.org/packages/ed/ca/524ce33692df3faeaa56852fb6a33b0b410be94cc288417565b96fef3f64/Cartopy-0.19.0.post1.tar.gz (12.1MB)
     |████████████████████████████████| 12.1MB 352kB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting contextily>=1.0.0
  Downloading https://files.pythonhosted.org/packages/d3/8a/f7916ad000c30b86793a0c7a63946baa413f40f33edb5b10f78a1b150d24/contextily-1.1.0-py3-none-any.whl
Collecting mapclassify>=2.1
  Downloading https://files.pythonhosted.org/packages/22/8e/d968c0945d41bb02de0efaa92e31e43a817dc52d30e82b4dfdda407a1903/mapclassify-2.4.2-py3-none-any.whl
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from geoplot) (0.11.1)
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (from geoplot) (0.9.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from geoplot) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->geoplot) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->geoplot) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->geoplot) (2018.9)
Collecting pyshp>=2
  Downloading https://files.pythonhosted.org/packages/38/85/fbf87e7aa55103e0d06af756bdbc15cf821fa580414c23142d60a35d4f85/pyshp-2.1.3.tar.gz (219kB)
     |████████████████████████████████| 225kB 36.4MB/s
Requirement already satisfied: shapely>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from cartopy->geoplot) (1.7.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (1.0.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (7.1.2)
Collecting rasterio
  Downloading https://files.pythonhosted.org/packages/e1/bf/d3c5e7df3828db144a6797269bf3aec31db96c20f13e75b93179eb059955/rasterio-1.2.3-cp37-cp37m-manylinux1_x86_64.whl (19.1MB)
     |████████████████████████████████| 19.1MB 1.2MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (2.23.0)
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (1.17.0)
Collecting mercantile
  Downloading https://files.pythonhosted.org/packages/b2/d6/de0cc74f8d36976aeca0dd2e9cbf711882ff8e177495115fd82459afdc4d/mercantile-1.2.1-py3-none-any.whl
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (0.22.2.post1)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (2.5.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (1.4.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas->geoplot) (1.8.19)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas->geoplot) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->geoplot) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->geoplot) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->geoplot) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->geoplot) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily>=1.0.0->geoplot) (0.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily>=1.0.0->geoplot) (2020.12.5)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily>=1.0.0->geoplot) (21.2.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily>=1.0.0->geoplot) (7.1.2)
Collecting snuggs>=1.4.1
  Downloading https://files.pythonhosted.org/packages/cc/0e/d27d6e806d6c0d1a2cfdc5d1f088e42339a0a54a09c3343f7f81ec8947ea/snuggs-1.4.7-py3-none-any.whl
Collecting affine
  Downloading https://files.pythonhosted.org/packages/ac/a6/1a39a1ede71210e3ddaf623982b06ecfc5c5c03741ae659073159184cd3e/affine-2.3.0-py2.py3-none-any.whl
Requirement already satisfied: click-plugins in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily>=1.0.0->geoplot) (1.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->contextily>=1.0.0->geoplot) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->contextily>=1.0.0->geoplot) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->contextily>=1.0.0->geoplot) (2.10)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy->contextily>=1.0.0->geoplot) (1.50)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->mapclassify>=2.1->geoplot) (4.4.2)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geoplot) (2.5.0)
Building wheels for collected packages: cartopy
  Building wheel for cartopy (PEP 517) ... done
  Created wheel for cartopy: filename=Cartopy-0.19.0.post1-cp37-cp37m-linux_x86_64.whl size=12516129 sha256=d4ef1a19dd72be5e5f960e9b0b9f7e879650280a12d5a47563f44c0054f001df
  Stored in directory: /root/.cache/pip/wheels/45/7f/3b/37879587817fd1bbbee7b47312e2401b4f542cccf2fbe9b4ee
Successfully built cartopy
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.3-cp37-none-any.whl size=37264 sha256=a6cea0e708fff71e0d15e36e369af315848658321226d60cb1940a0851a4c8ce
  Stored in directory: /root/.cache/pip/wheels/76/2b/d4/53e6b9a0fb0a9f9f29664cf82605af8bc81d5ab44d987896dd
Successfully built pyshp
Installing collected packages: pyshp, cartopy, snuggs, affine, rasterio, mercantile, contextily, mapclassify, geoplot
Successfully installed affine-2.3.0 cartopy-0.19.0.post1 contextily-1.1.0 geoplot-0.4.1 mapclassify-2.4.2 mercantile-1.2.1 pyshp-2.1.3 rasterio-1.2.3 snuggs-1.4.7

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import cycle, islice
from shapely.geometry import polygon,point
from plotnine import *
from shapely.geometry import Point 
import geopandas as gpd
import geoplot
from matplotlib.pyplot import figure
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [4]:
import datetime as dt

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [5]:
# importing data from CSV file

country_df = pd.read_csv("https://raw.githubusercontent.com/gyana-ranjan-dash/World_proverty_analysis/main/Country-data.csv")

In [6]:
country_df.head()

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [7]:
country_df.tail()

       country  child_mort  exports  ...  life_expec  total_fer   gdpp
162    Vanuatu        29.2     46.6  ...        63.0       3.50   2970
163  Venezuela        17.1     28.5  ...        75.4       2.47  13500
164    Vietnam        23.3     72.0  ...        73.1       1.95   1310
165      Yemen        56.3     30.0  ...        67.5       4.67   1310
166     Zambia        83.1     37.0  ...        52.0       5.40   1460

[5 rows x 10 columns]

In [8]:
country_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     167 non-null    object
 1   child_mort  167 non-null    float64
 2   exports     167 non-null    float64
 3   health      167 non-null    float64
 4   imports     167 non-null    float64
 5   income      167 non-null    int64
 6   inflation   167 non-null    float64
 7   life_expec  167 non-null    float64
 8   total_fer   167 non-null    float64
 9   gdpp        167 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 13.2+ KB

In [9]:
country_df.describe()

       child_mort     exports  ...   total_fer           gdpp
count  167.000000  167.000000  ...  167.000000     167.000000
mean    38.270060   41.108976  ...    2.947964   12964.155689
std     40.328931   27.412010  ...    1.513848   18328.704809
min      2.600000    0.109000  ...    1.150000     231.000000
25%      8.250000   23.800000  ...    1.795000    1330.000000
50%     19.300000   35.000000  ...    2.410000    4660.000000
75%     62.100000   51.350000  ...    3.880000   14050.000000
max    208.000000  200.000000  ...    7.490000  105000.000000

[8 rows x 9 columns]

In [10]:
country_df.sort_values(by='health', ascending = False)

                   country  child_mort  exports  ...  life_expec  total_fer   gdpp
159          United States         7.3   12.400  ...        78.7       1.93  48400
101  Micronesia, Fed. Sts.        40.0   23.500  ...        65.4       3.46   2860
132           Sierra Leone       160.0   16.800  ...        55.0       5.20    399
110            Netherlands         4.5   72.000  ...        80.7       1.79  50300
54                  France         4.2   26.800  ...        81.4       2.03  40600
..                     ...         ...      ...  ...         ...        ...    ...
154           Turkmenistan        62.0   76.300  ...        67.9       2.83   4440
38             Congo, Rep.        63.9   85.100  ...        60.4       4.95   2740
116               Pakistan        92.1   13.500  ...        65.3       3.85   1040
107                Myanmar        64.4    0.109  ...        66.8       2.41    988
123                  Qatar         9.0   62.300  ...        79.5       2.07  70300

[167 rows x 10 columns]

In [11]:
country_df.sort_values(by='child_mort', ascending = False)

                      country  child_mort  ...  total_fer    gdpp
66                      Haiti       208.0  ...       3.33     662
132              Sierra Leone       160.0  ...       5.20     399
32                       Chad       150.0  ...       6.59     897
31   Central African Republic       149.0  ...       5.21     446
97                       Mali       137.0  ...       6.55     708
..                        ...         ...  ...        ...     ...
53                    Finland         3.0  ...       1.87   46200
144                    Sweden         3.0  ...       1.98   52100
133                 Singapore         2.8  ...       1.15   46600
91                 Luxembourg         2.8  ...       1.63  105000
68                    Iceland         2.6  ...       2.20   41900

[167 rows x 10 columns]

### **Initial understanding**


*   The gdpp of USA is the highest as well as the spending on health care
*   The child mortality is highest in Haiti

In [12]:
country_df.isnull().mean()*100

country       0.0
child_mort    0.0
exports       0.0
health        0.0
imports       0.0
income        0.0
inflation     0.0
life_expec    0.0
total_fer     0.0
gdpp          0.0
dtype: float64

In [13]:
country_df['exports'] = country_df['exports']*country_df['gdpp']/100
country_df['imports'] = country_df['imports']*country_df['gdpp']/100
country_df['health'] = country_df['health']*country_df['gdpp']/100

In [14]:
country_df.head()

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2    55.30  ...        56.2       5.82    553
1              Albania        16.6  1145.20  ...        76.3       1.65   4090
2              Algeria        27.3  1712.64  ...        76.5       2.89   4460
3               Angola       119.0  2199.19  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3  5551.00  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [15]:
df = country_df[["country","child_mort","income","gdpp"]]
df.head()

               country  child_mort  income   gdpp
0          Afghanistan        90.2    1610    553
1              Albania        16.6    9930   4090
2              Algeria        27.3   12900   4460
3               Angola       119.0    5900   3530
4  Antigua and Barbuda        10.3   19100  12200

In [16]:
df.columns

Index(['country', 'child_mort', 'income', 'gdpp'], dtype='object')

In [17]:
df.head(20)

                country  child_mort  income   gdpp
0           Afghanistan        90.2    1610    553
1               Albania        16.6    9930   4090
2               Algeria        27.3   12900   4460
3                Angola       119.0    5900   3530
4   Antigua and Barbuda        10.3   19100  12200
5             Argentina        14.5   18700  10300
6               Armenia        18.1    6700   3220
7             Australia         4.8   41400  51900
8               Austria         4.3   43200  46900
9            Azerbaijan        39.2   16000   5840
10              Bahamas        13.8   22900  28000
11              Bahrain         8.6   41100  20700
12           Bangladesh        49.4    2440    758
13             Barbados        14.2   15300  16000
14              Belarus         5.5   16200   6030
15              Belgium         4.5   41100  44400
16               Belize        18.8    7880   4340
17                Benin       111.0    1820    758
18               Bhutan        42.7    6420   2180
19              Bolivia        46.6    5410   1980